@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
}
.products img {
  width: 100%;  
}
.product {
  border: thin solid #ccc;
  background-color: #777;
  padding: 20px;
}
button{
  font-size: 20px;
  padding: 10px;
}
header{
  background-color:blueviolet;
  color: white;
  height: 55px;
  padding-top: 7px;
}